
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,400&display=swap');


*{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
}
body
{
    margin: 0;
    padding: 0;
    background-color: #343541;
    display: flex;
}
h1{

    font-size: 33px;
    font-weight: 500;
    padding-bottom :200px;
}
.side-bar
{
    width: 300px;
    background-color: #2c2c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
button
{
    background-color: #2c2c34;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #8989a0;
    border-outline:1px;
    width: 100%;
    


}
.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}
.main .output
{
    width: 100%;
    background-color: #2c2c34;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    overflow-y: scroll;
    max-height: 500px;
}
.input-container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c2c34;
    border-radius: 10px;
    margin-bottom: 20px;

}
.input-container input
{
    width: 100%;
    background-color: #2c2c34;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    
}
.input-container input::placeholder
{
    color: #fff;
    font-size: 18px;
}
.input-container button
{
    background-color: #2c2c34;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.bottom-section
{
    padding-top: 300px;
}
p{
   width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    
}
.history
{
  height: 100vh;
    width: 100%;
}